body {
  margin: 0 auto;

  .App {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page {
  border: 1px solid black;
  padding: 1rem;
  width: 15rem;
}
