body {
  margin: 0 auto;
  min-width: 100vw;

  .Main {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nostyling-page {
  border: 1px solid black;
  padding: 2rem;
  max-width: 18rem;
}

.link {
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: rgb(34, 106, 214);
  display: block;
  margin: 1rem;
  border: 1px solid rgb(199, 199, 199);
  padding: 0.4rem 1rem;
  border-radius: 20px;

  &:hover {
    text-decoration: underline;
  }
}
