body {
  margin: 0 auto;
  min-width: 100vw;

  .Main {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
  }
}

.html5-page {
  border: 1px solid black;
  padding: 2rem;
  max-width: 18rem;
  font-family: "Times New Roman", Times, serif;
  background: white;

  h2 {
    font-family: "Times New Roman", Times, serif;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
  }

  button {
    font-family: "Times New Roman", Times, serif;
  }
}
